@model TestApp.Models.Person;

@{
    ViewData["Title"] = "Index";
}

<img src="~/lib/wp2971740.webp" alt="DeathNote" align="middle" width="100%" height="100%"/>
<h1 class="display-1" align="middle"> Wanna Add Someone To the list? </h1>
<br />
@(
Html.DevExtreme().DataGrid<TestApp.Models.Person>()
    .DataSource(ds => ds.Mvc()
        .Controller("HomeWebAPI")
        .InsertAction("Add")
        .LoadAction("Get")
        .Key("Id")
    )
    .HoverStateEnabled(true)
    .Paging(paging => paging.PageSize(10))
    .Pager(pager => {
        pager.ShowInfo(true);
        pager.ShowNavigationButtons(true);
    })
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id)
        .AllowEditing(false);

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.Age);
    })
    .Editing(_ => _.Mode(GridEditMode.Form)
        .AllowAdding(true)
        .RefreshMode(GridEditRefreshMode.Reshape)
    )
)
